.place__title {
    width: calc((100% - 32px)/2);
    font-size: 4.5rem;
    line-height: 1.1;
    color: white;
    margin: 0 0 48px;
}

@media screen and (max-width: 1024px) {
    .place__title {
        font-size: 2.6rem;
    }
}