.place__image {
    object-fit: contain;
    width: calc((100% - 32px)/2);
    height: auto;
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 100%;
    }
}