.cover__subtitle {
    position: relative;
    width: 35%;
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
}

.cover__subtitle:hover {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 90%;
        font-size: .874rem;
    }
}