.cover__title {
    position: relative;
    max-width: calc(100% * 560/1024);
    color: white;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.06;
    margin: 0;
    z-index: 1;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .cover__title {
        font-size: 3rem;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 2rem;
        width: 90%;
    }
}